@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 45 22% 96%;
    --foreground: 146 29% 14%;

    --card: 0 0% 100%;
    --card-foreground: 146 29% 14%;

    --popover: 0 0% 100%;
    --popover-foreground: 146 29% 14%;

    --primary: 146 29% 14%;
    --primary-foreground: 39 23% 88%;

    --secondary: 38 23% 93%;
    --secondary-foreground: 146 29% 14%;

    --muted: 38 23% 93%;
    --muted-foreground: 0 0% 67%;

    --accent: 142 25% 58%;
    --accent-foreground: 146 29% 14%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --border: 42 19% 90%;
    --input: 42 19% 90%;
    --ring: 142 25% 58%;

    --radius: 0.5rem;

    --sidebar-background: 146 29% 14%;
    --sidebar-foreground: 39 23% 88%;
    --sidebar-primary: 142 25% 58%;
    --sidebar-primary-foreground: 146 29% 14%;
    --sidebar-accent: 38 23% 93%;
    --sidebar-accent-foreground: 146 29% 14%;
    --sidebar-border: 42 19% 90%;
    --sidebar-ring: 142 25% 58%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
